>In this first phase of the project,we will try to:  

>> explore the data and   
perform a preprocessing if needed. 

> Please go to the folder **Viz**, to see the different visualizations.

### Table of Contents

* [1. Load Data](#section1)
* [2. EDA](#section2)
    * [2.1. Unique values](#section21)
    * [2.2. Missing values](#section22)
    * [2.3. Duplicates](#section23)
    * [2.4. Extract relevant data](#section24)
    * [2.5. Univariate Analysis](#section25)
    * [2.6. Bivariate Analysis](#section26)
    * [2.7. Outliers](#section27)
    * [2.8. Correlation](#section28)
    * [2.9. Summary](#section29)
* [3. Preprocessing](#section3)

 #### Import useful modules ⬇️⬇️ and Global params

In [1]:
# Generic librairies 
import os
import pandas as pd 
pd.options.display.max_columns=None

from numpy import arange

import warnings
warnings.filterwarnings('ignore')

# Visualization librairies 
from plotly.subplots import make_subplots
import plotly.graph_objects as go

import plotly.io as pio
pio.renderers.default = "iframe" 

# predefined modules
from modules import MyFunctions as MyFunct

# Global parameters 
filepath = 'data/walmart_sales.csv'

if not os.path.exists("Viz"):
    os.mkdir("Viz")

 # Load Data <a class="anchor" id="section1"></a>

In [2]:
print("Loading dataset...")
dataset = pd.read_csv(filepath)
print("...Done.")
print()

Loading dataset...
...Done.

# EDA <a class="anchor" id="section2"></a>

In [3]:
MyFunct.explore(dataset)

Shape : (6585, 8)

data types :
Store           float64
Date             object
Weekly_Sales    float64
Holiday_Flag    float64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
dtype: object

Display of dataset:

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1.0,05-02-2010,1643690.90,0.0,42.31,2.572,211.096358,8.106
1,1.0,12-02-2010,1641957.44,1.0,38.51,2.548,211.242170,8.106
2,1.0,19-02-2010,1611968.17,0.0,39.93,2.514,211.289143,8.106
3,1.0,26-02-2010,1409727.59,0.0,46.63,2.561,211.319643,8.106
4,1.0,05-03-2010,1554806.68,0.0,46.50,2.625,211.350143,8.106

Basics statistics:

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6585.000000,6567,6.571000e+03,6573.000000,6567.000000,6571.000000,6573.000000,6570.000000
unique,NaN,143,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,19-10-2012,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,49,NaN,NaN,NaN,NaN,NaN,NaN
mean,22.700835,NaN,1.051157e+06,0.070135,60.678543,3.357825,171.753074,7.990917
std,13.021845,NaN,5.668882e+05,0.255395,18.442501,0.459417,39.391147,1.870989
min,1.000000,NaN,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,11.000000,NaN,5.539694e+05,0.000000,47.415000,2.931000,131.735000,6.891000
50%,22.000000,NaN,9.643325e+05,0.000000,62.670000,3.445000,182.764003,7.872000
75%,34.000000,NaN,1.428915e+06,0.000000,75.000000,3.735000,212.903312,8.595000
max,45.000000,NaN,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

Distinct values:

Store             45
Date             144
Weekly_Sales    6436
Holiday_Flag       3
Temperature     3529
Fuel_Price       901
CPI             2161
Unemployment     365
dtype: int64

## Unique values <a class="anchor" id="section21"></a>

In [4]:
Cols = ['Holiday_Flag', 'Store', 'Date']
MyFunct.unique_count(dataset, Cols)

unique values of Holiday_Flag:

0.0    6112
1.0     461
NaN      12
Name: Holiday_Flag, dtype: int64

unique values of Store:

3.0     158
1.0     154
18.0    153
13.0    152
5.0     152
19.0    152
14.0    152
2.0     151
17.0    151
8.0     151
7.0     151
6.0     150
20.0    150
4.0     150
10.0    148
12.0    148
9.0     147
15.0    147
16.0    147
11.0    146
39.0    143
35.0    143
36.0    143
37.0    143
38.0    143
44.0    143
40.0    143
41.0    143
42.0    143
43.0    143
33.0    143
34.0    143
23.0    143
32.0    143
31.0    143
30.0    143
29.0    143
28.0    143
27.0    143
26.0    143
25.0    143
24.0    143
22.0    143
21.0    143
45.0    143
Name: Store, dtype: int64

unique values of Date:

19-10-2012    49
07-01-2011    49
16-03-2012    48
12-11-2010    48
25-03-2011    48
              ..
23-12-2011    45
29-10-2010    45
22-10-2010    45
08-10-2010    45
NaN           18
Name: Date, Length: 144, dtype: int64

## Missing values <a class="anchor" id="section22"></a>

In [5]:
print(f"Missing values over {dataset.shape[0]} observations: ")
MyFunct.missing(dataset)

Missing values over 6585 observations:

       Variable  n_missing  p_missing
0         Store          0       0.00
3  Holiday_Flag         12       0.18
6           CPI         12       0.18
2  Weekly_Sales         14       0.21
5    Fuel_Price         14       0.21
7  Unemployment         15       0.23
1          Date         18       0.27
4   Temperature         18       0.27

>🗒 Notes:  
>>The target variable🎯 has missing values, hence we should drop the related rows    
Globally, there is no much missing data

## Duplicates <a class="anchor" id="section23"></a>

In [6]:
print(f"Duplicates over {dataset.shape[0]} observations: ")
MyFunct.duplicates_count(dataset)

Duplicates over 6585 observations:
104 duplicated rows found

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,records
64,1.0,14-05-2010,1494251.50,0.0,74.78,2.854,210.337426,7.808,2
71,1.0,16-03-2012,1677472.78,0.0,64.74,3.734,221.211813,7.348,2
202,2.0,12-11-2010,1916812.74,0.0,59.69,2.728,211.660898,8.163,2
254,2.0,24-02-2012,1861802.70,0.0,54.63,3.555,220.275944,7.057,2
306,3.0,04-06-2010,396968.80,0.0,78.53,2.705,214.495838,7.343,2
339,3.0,11-05-2012,431985.36,0.0,75.19,3.688,225.235150,6.664,2
373,3.0,18-06-2010,364076.85,0.0,83.52,2.637,214.785826,7.343,2
379,3.0,19-10-2012,424513.08,0.0,73.44,3.594,226.968844,6.034,2
391,3.0,22-06-2012,419497.95,0.0,82.70,3.346,225.306861,6.664,2
397,3.0,23-09-2011,365248.94,0.0,80.19,3.467,219.741491,7.567,2
509,4.0,16-12-2011,2771397.17,0.0,36.44,3.149,129.898065,5.143,2
536,4.0,22-07-2011,2036231.39,0.0,82.84,3.627,129.150774,5.644,2
630,5.0,11-11-2011,311906.70,0.0,60.71,3.297,218.569962,6.300,2
638,5.0,13-05-2011,290930.01,0.0,77.38,3.899,216.534361,6.489,2
714,5.0,29-07-2011,275142.17,0.0,89.42,3.682,216.046436,6.529,2
718,5.0,30-07-2010,268929.03,0.0,82.46,2.640,211.927001,6.496,2
822,6.0,22-04-2011,1639358.93,0.0,74.24,3.807,217.014694,6.855,2
872,7.0,02-04-2010,561145.14,0.0,38.26,2.725,189.704822,8.963,2
910,7.0,10-02-2012,563460.77,1.0,18.79,3.103,196.919506,8.256,2
927,7.0,13-05-2011,414094.05,0.0,36.61,3.767,192.826069,8.595,2
959,7.0,20-04-2012,457340.06,0.0,39.30,3.936,197.722738,8.090,2
983,7.0,25-05-2012,532739.77,0.0,50.60,3.804,197.588605,8.090,2
1090,8.0,17-09-2010,836707.85,0.0,75.32,2.582,214.878556,6.315,2
1140,8.0,27-08-2010,888816.78,0.0,74.92,2.619,214.936279,6.315,2
1304,10.0,02-03-2012,1990371.02,0.0,57.62,3.882,130.645793,7.545,2
1327,10.0,06-07-2012,1805999.79,0.0,86.87,3.666,130.719633,7.170,2
1565,11.0,26-11-2010,1757242.51,1.0,69.90,2.735,215.061403,7.564,2
1642,12.0,12-08-2011,955913.68,0.0,91.04,3.701,129.201581,13.503,2
1667,12.0,17-12-2010,1295605.35,0.0,52.77,3.236,126.879484,14.313,2
1738,13.0,02-07-2010,2018314.71,0.0,78.82,2.814,126.139200,7.951,2
1778,13.0,10-12-2010,2461468.35,0.0,36.78,2.817,126.793400,7.795,2
1849,13.0,25-03-2011,1807545.43,0.0,42.38,3.435,128.616064,7.470,2
1946,14.0,15-07-2011,1953544.76,0.0,78.47,3.760,186.139981,8.625,2
1953,14.0,17-02-2012,2020550.99,0.0,36.85,3.695,189.842483,8.424,2
1961,14.0,18-06-2010,2248645.59,0.0,72.62,2.780,182.442420,8.899,2
2092,15.0,16-03-2012,570611.23,0.0,47.42,4.021,137.584387,7.943,2
2258,16.0,20-05-2011,435397.19,0.0,43.95,3.828,192.831317,6.339,2
2313,17.0,01-10-2010,829207.27,0.0,60.07,2.853,126.234600,6.885,2
2365,17.0,12-10-2012,919878.34,0.0,44.82,3.797,131.108333,5.527,2
2381,17.0,16-04-2010,757738.76,0.0,45.22,2.915,126.562100,6.635,2
2481,18.0,06-08-2010,1166117.85,0.0,73.67,2.792,132.614193,9.342,2
2508,18.0,12-10-2012,1074079.00,0.0,50.97,4.029,138.911700,8.243,2
2522,18.0,15-10-2010,1029618.10,0.0,52.02,2.878,132.763355,9.331,2
2577,18.0,27-04-2012,961186.23,0.0,50.43,4.023,137.978133,8.304,2
2602,19.0,02-07-2010,1549018.68,0.0,66.25,2.958,132.521867,8.099,2
2612,19.0,04-05-2012,1405007.44,0.0,50.76,4.124,138.033200,8.150,2
2687,19.0,20-04-2012,1255087.26,0.0,55.20,4.170,137.923067,8.150,2
2710,19.0,25-03-2011,1266564.94,0.0,33.26,3.789,133.958742,7.771,2
2715,19.0,26-03-2010,1427023.45,0.0,39.07,2.963,131.863129,8.350,2
2734,19.0,30-07-2010,1366395.96,0.0,72.83,2.932,132.598387,8.099,2
2748,20.0,03-02-2012,2203523.20,0.0,39.93,3.617,213.023622,6.961,2
2882,20.0,31-12-2010,1799737.79,1.0,28.85,3.179,204.643227,7.484,2

>❗ Investigate: why do we have duplicates in the dataset?  
>🗒 Note: Duplicates should be removed because they are a case of non-random sampling so they can bias the prediction model by leading to overfitting this subset of data points.

## Extract relevant data <a class="anchor" id="section24"></a>

🗒 Note : we want to dissect the predictor 'date' in order to get more **relevant** information

In [7]:
# date = (year, month, week, day, day of the week)

dataset['Year']    = dataset['Date'].apply(lambda d: MyFunct.get_year(str(d)))
dataset['Month']   = dataset['Date'].apply(lambda d: MyFunct.get_month(str(d)))
dataset['Week']    = dataset['Date'].apply(lambda d: MyFunct.get_week(str(d)))
dataset['Day']     = dataset['Date'].apply(lambda d: MyFunct.get_day(str(d)))
dataset['Weekday'] = dataset['Date'].apply(lambda d: MyFunct.get_weekday(str(d)))
dataset.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Year,Month,Week,Day,Weekday
0,1.0,05-02-2010,1643690.90,0.0,42.31,2.572,211.096358,8.106,2010.0,2.0,5.0,5.0,4.0
1,1.0,12-02-2010,1641957.44,1.0,38.51,2.548,211.242170,8.106,2010.0,2.0,6.0,12.0,4.0
2,1.0,19-02-2010,1611968.17,0.0,39.93,2.514,211.289143,8.106,2010.0,2.0,7.0,19.0,4.0
3,1.0,26-02-2010,1409727.59,0.0,46.63,2.561,211.319643,8.106,2010.0,2.0,8.0,26.0,4.0
4,1.0,05-03-2010,1554806.68,0.0,46.50,2.625,211.350143,8.106,2010.0,3.0,9.0,5.0,4.0

In [8]:
Cols = ['Year', 'Month', 'Week', 'Day', 'Weekday']
MyFunct.unique_count(dataset, Cols)

unique values of Year:

2011.0    2383
2010.0    2214
2012.0    1970
NaN         18
Name: Year, dtype: int64

unique values of Month:

7.0     645
4.0     640
6.0     599
3.0     596
8.0     596
9.0     595
10.0    594
5.0     555
2.0     552
12.0    460
11.0    368
1.0     367
NaN      18
Name: Month, dtype: int64

unique values of Week:

25.0    141
21.0    141
30.0    141
12.0    140
6.0     139
19.0    139
7.0     139
42.0    139
27.0    139
38.0    139
34.0    139
32.0    138
24.0    138
22.0    138
17.0    138
18.0    138
16.0    138
15.0    138
36.0    138
11.0    138
41.0    138
33.0    137
37.0    137
5.0     137
31.0    137
29.0    137
20.0    137
13.0    137
8.0     137
23.0    137
26.0    137
40.0    136
35.0    136
9.0     136
28.0    136
39.0    136
10.0    136
43.0    135
14.0    135
1.0      95
45.0     94
49.0     94
50.0     94
46.0     93
52.0     92
2.0      91
47.0     91
3.0      91
4.0      90
44.0     90
51.0     90
48.0     90
NaN      18
Name: Week, dtype: int64

unique values of Day:

12.0    236
19.0    233
25.0    232
10.0    232
18.0    232
30.0    232
26.0    231
16.0    231
27.0    231
20.0    230
6.0     230
13.0    229
24.0    229
2.0     229
17.0    229
3.0     228
11.0    228
9.0     228
5.0     227
4.0     227
23.0    227
7.0     187
22.0    185
28.0    183
15.0    183
14.0    182
1.0     182
29.0    182
8.0     181
21.0    180
31.0     91
NaN      18
Name: Day, dtype: int64

unique values of Weekday:

4.0    6567
NaN      18
Name: Weekday, dtype: int64

>🗒 Note: we have only one weekday (the fifth day of the week: Friday). This is logical as the sales are weekly reported.  
>>In fact, it's an important information because when we want to look also at the holiday_flag, we should be aware that the reporting date is not the holiday date. The 'holiday_flag' is just used to inform us that the reporting week goes through a holiday.   
For example, the Labor Day falls on the first Monday of September every year but the sales are reported Firday.  

> Hence, the reporting day may be a before_holiday_day or after_holiday_day or same_holiday_day. Analysing further this fact may explain the increase or the decrease in the weekly reported sales. 
>>Generally, There is some shopping behaviour that depends on the shoppers, the type of shopped items and the shopping way: online shopping or in-store shopping.    
As we can notice, it is another analysis question that should be handled apart.

> Some References for further investigation
>> https://school.stockcharts.com/doku.php?id=trading_strategies:the_pre-holiday_effect  
https://www.npd.com/news/thought-leadership/2021/2021-holiday-shopping-behavior/   
https://www.thinkwithgoogle.com/consumer-insights/consumer-trends/last-minute-christmas-shopping/

In [9]:
mask = dataset['Holiday_Flag'] == 1
dataset[mask][['Date', 'Weekly_Sales','Week']].sort_values(by='Date')

            Date  Weekly_Sales  Week
3281  07-09-2012    1427162.26  36.0
564   07-09-2012    2125104.72  36.0
5569  07-09-2012    1609811.75  36.0
2995  07-09-2012     642827.29  36.0
5426  07-09-2012     490274.82  36.0
...          ...           ...   ...
1763  31-12-2010    1675292.00  52.0
3479  31-12-2010     623092.54  52.0
5624  31-12-2010     811318.30  52.0
4480  31-12-2010     955463.84  52.0
6477         NaN    1661767.33   NaN

[461 rows x 3 columns]

## Univariate Analysis <a class="anchor" id="section25"></a>

In [10]:
#Outliers / Anomalies detection

In [11]:
title = 'Distribution of the different quantitative variables(1)'
fig = make_subplots(rows=2, cols=3)

fig.add_trace(MyFunct.my_box_plotter(dataset['Weekly_Sales']), row=1, col=1)
fig.add_trace(MyFunct.my_box_plotter(dataset['CPI']), row=1, col=2)
fig.add_trace(MyFunct.my_box_plotter(dataset['Fuel_Price']), row=1, col=3)

fig.add_trace(MyFunct.my_box_plotter(dataset['Unemployment']), row=2, col=1)
fig.add_trace(MyFunct.my_box_plotter(dataset['Temperature']), row=2, col=2)

fig.update_layout(
    title= title, title_x = 0.5,
    showlegend=False
)

fig.to_image(format="png", engine="kaleido")
if os.path.exists("Viz/"+title+".png"):
    os.remove("Viz/"+title+".png")
    
fig.write_image("Viz/"+title+".png")

fig.show()

>🗒 Notes:   
>>Weekly_Sales and Unemployment data contain outliers   
❗ Investigate: Discontinuity in the CPI data ??

In [12]:
title = 'Distribution of the different quantitative variables (2)'
fig = make_subplots(rows=2, cols=3)

fig.add_trace(MyFunct.my_hist_plotter(dataset['Weekly_Sales']), row=1, col=1)
fig.add_trace(MyFunct.my_hist_plotter(dataset['CPI']), row=1, col=2)
fig.add_trace(MyFunct.my_hist_plotter(dataset['Fuel_Price']), row=1, col=3)

fig.add_trace(MyFunct.my_hist_plotter(dataset['Unemployment']), row=2, col=1)
fig.add_trace(MyFunct.my_hist_plotter(dataset['Temperature']), row=2, col=2)

# Update xaxis properties
fig.update_xaxes(title_text="Weekly_Sales", row=1, col=1)
fig.update_xaxes(title_text="Consumer Price Index", row=1, col=2)
fig.update_xaxes(title_text="Fuel Price", row=1, col=3)
fig.update_xaxes(title_text="Unemployment Rate", row=2, col=1)
fig.update_xaxes(title_text="Temperature", row=2, col=2)

# Update yaxis properties
fig.update_yaxes(title_text="Count", row=1, col=1)
fig.update_yaxes(title_text="Count", row=2, col=1)

fig.update_layout(
    title= title, title_x = 0.5,
    showlegend=False
)

fig.to_image(format="png", engine="kaleido")
if os.path.exists("Viz/"+title+".png"):
    os.remove("Viz/"+title+".png")
    
fig.write_image("Viz/"+title+".png")
fig.show()

>🗒 Notes:   
>>the Weekly_Sales distribution is right skewed

## Bivariate Analysis <a class="anchor" id="section26"></a>

In [13]:
#try to discover any correlation

In [14]:
title = 'Dataset Exploring by Store'

sales_store = dataset.groupby(['Store']).agg({'Weekly_Sales':'mean'})
flow_store = dataset.groupby(['Store']).agg({'Week':'count'})
temp_store = dataset.groupby(['Store']).agg({'Temperature':'mean'})
fuel_store = dataset.groupby(['Store']).agg({'Fuel_Price':'mean'})
cpi_store = dataset.groupby(['Store']).agg({'CPI':'mean'})
unemp_store = dataset.groupby(['Store']).agg({'Unemployment':'mean'})
holiday_store = dataset.groupby(['Store']).agg({'Holiday_Flag':sum})


fig = make_subplots(rows=4, cols=2)

fig.add_trace(MyFunct.my_bar_plotter(sales_store.index, sales_store['Weekly_Sales'].values), row=1, col=1)
fig.add_trace(MyFunct.my_bar_plotter(flow_store.index, flow_store['Week'].values), row=1, col=2)
fig.add_trace(MyFunct.my_bar_plotter(temp_store.index, temp_store['Temperature'].values), row=2, col=1)
fig.add_trace(MyFunct.my_bar_plotter(fuel_store.index, fuel_store['Fuel_Price'].values), row=2, col=2)
fig.add_trace(MyFunct.my_bar_plotter(cpi_store.index, cpi_store['CPI'].values), row=3, col=1)
fig.add_trace(MyFunct.my_bar_plotter(unemp_store.index, unemp_store['Unemployment'].values), row=3, col=2)
fig.add_trace(MyFunct.my_bar_plotter(holiday_store.index, holiday_store['Holiday_Flag'].values), row=4, col=1)

fig.update_xaxes(title_text="Store", tick0 = 1, dtick=1, row=1, col=1)
fig.update_yaxes(title_text="Mean Weekly Sales", row=1, col=1)

fig.update_xaxes(title_text="Store", tick0 = 1, dtick=1, row=1, col=2)
fig.update_yaxes(title_text="number of flows", row=1, col=2)

fig.update_xaxes(title_text="Store", tick0 = 1, dtick=1, row=2, col=1)
fig.update_yaxes(title_text="Mean Temperature", row=2, col=1)

fig.update_xaxes(title_text="Store", tick0 = 1, dtick=1, row=2, col=2)
fig.update_yaxes(title_text="Mean Fuel_Price", row=2, col=2)

fig.update_xaxes(title_text="Store", tick0 = 1, dtick=1, row=3, col=1)
fig.update_yaxes(title_text="Mean CPI", row=3, col=1)

fig.update_xaxes(title_text="Store", tick0 = 1, dtick=1, row=3, col=2)
fig.update_yaxes(title_text="Mean Unemployment", row=3, col=2)

fig.update_xaxes(title_text="Store", tick0 = 1, dtick=1, row=4, col=1)
fig.update_yaxes(title_text="Sum Holidays", row=4, col=1)

fig.update_layout(
    title= title, title_x = 0.5,
    showlegend=False,
    autosize=False,
    width=900,
    height=900
)

fig.to_image(format="png", engine="kaleido")
if os.path.exists("Viz/"+title+".png"):
    os.remove("Viz/"+title+".png")
    
fig.write_image("Viz/"+title+".png")

fig.show()

>🗒 Notes:   
>>There is a clear difference in the reported Weekly_Sales between stores. The goal is to understand what makes such difference.
The **number of flows** is set to see if there is a difference in the activity rate of some stores, e.g., a new store may have low activity rate. 
Looking at the plot, we can conclude that all stores have approximately the same activity rate.  
There is some variation for the mean temperature, the mean CPI and the mean unemployment rate.

In [15]:
title = 'Distribution of Weekly Sales wrt different quantitative variables'

# Initialize figure with subplots
fig = make_subplots(
    rows=2, cols=2,
)

# Add traces
fig.add_trace(MyFunct.my_scatter_plotter(dataset['CPI'], dataset['Weekly_Sales']), row=1, col=1)
fig.add_trace(MyFunct.my_scatter_plotter(dataset['Fuel_Price'], dataset['Weekly_Sales']), row=1, col=2)

fig.add_trace(MyFunct.my_scatter_plotter(dataset['Unemployment'], dataset['Weekly_Sales']), row=2, col=1)
fig.add_trace(MyFunct.my_scatter_plotter(dataset['Temperature'], dataset['Weekly_Sales']), row=2, col=2)

# Update xaxis properties
fig.update_xaxes(title_text="Consumer Price Index", row=1, col=1)
fig.update_xaxes(title_text="Fuel Price", row=1, col=2)
fig.update_xaxes(title_text="Unemployment Rate", row=2, col=1)
fig.update_xaxes(title_text="Temperature", row=2, col=2)

# Update yaxis properties
fig.update_yaxes(title_text="Weekly Sales", row=1, col=1)
fig.update_yaxes(title_text="Weekly Sales", row=2, col=1)

# Update title 
fig.update_layout(
    title= title, title_x = 0.5,
    showlegend=False
)

# Export to a png image
fig.to_image(format="png", engine="kaleido")
if os.path.exists("Viz/"+title+".png"):
    os.remove("Viz/"+title+".png")
    
fig.write_image("Viz/"+title+".png")

fig.show()

>🗒 Notes:   
>>It seems that there are some values of the predictors that increase **occasionally** the sales. However, we can see some trend even if it is not too clear.

In [16]:
title = 'Weekly Sales per Year wrt Holiday_Flag'

weekly_sales = dataset.groupby(['Year','Week']).agg({'Weekly_Sales': 'mean', 'Holiday_Flag':'max' })

weekly_sales_10 = weekly_sales.loc[2010]
weekly_sales_11 = weekly_sales.loc[2011]
weekly_sales_12 = weekly_sales.loc[2012]

x10 = weekly_sales_10['Weekly_Sales'].index
y10 = weekly_sales_10['Weekly_Sales'].values

x11 = weekly_sales_11['Weekly_Sales'].index
y11 = weekly_sales_11['Weekly_Sales'].values

x12 = weekly_sales_12['Weekly_Sales'].index
y12 = weekly_sales_12['Weekly_Sales'].values

fig = go.Figure()
fig.add_trace(MyFunct.my_scatter_plotter_l(x10,y10,'2010', weekly_sales_10['Holiday_Flag']))
fig.add_trace(MyFunct.my_scatter_plotter_l(x11,y11,'2011', weekly_sales_11['Holiday_Flag']))
fig.add_trace(MyFunct.my_scatter_plotter_l(x12,y12,'2012', weekly_sales_12['Holiday_Flag']))

fig.update_layout( 
    title=title, title_x = 0.5,
    xaxis_title='Week',
    yaxis_title='Weekly Sales',
    autosize=False,
    width=900,
    height=500)

fig.update_xaxes(tickvals= arange(1, 53, step=1))

# Export to a png image
fig.to_image(format="svg", engine="kaleido")

if os.path.exists("Viz/"+title+".png"):
    os.remove("Viz/"+title+".png")
    
fig.write_image("Viz/"+title+".png")
#fig.write_html("Viz/"+title+".html")
fig.show()

>🗒 Notes:   
>> With such graphic, we can see the trend clearer.   
The first thing we can notice is the high variability and increase in the sales by the end of the year probably because of the Chrismas holiday.
The second important thing we should notice is the increase in sales **before** holidays except the last holiday week. This, as previously mentioned, depends on the shoppers behaviour.

In [17]:
title = 'Distribution of Weekly Sales wrt different categorical variables'
# Initialize figure with subplots
fig = make_subplots(
    rows=2, cols=2,
)

# Add traces
fig.add_trace(MyFunct.my_scatter_plotter(dataset['Year'], dataset['Weekly_Sales']), row=1, col=1)
fig.add_trace(MyFunct.my_scatter_plotter(dataset['Store'], dataset['Weekly_Sales']), row=1, col=2)
fig.add_trace(MyFunct.my_scatter_plotter(dataset['Holiday_Flag'], dataset['Weekly_Sales']), row=2, col=1)
fig.add_trace(MyFunct.my_scatter_plotter(dataset['Week'], dataset['Weekly_Sales']), row=2, col=2)

# Update xaxis properties
fig.update_xaxes(title_text="Year", dtick =1, row=1, col=1)
fig.update_xaxes(title_text="Store", dtick =1, row=1, col=2)
fig.update_xaxes(title_text="Holiday_Flag", tickmode = 'array', tickvals = [0, 1], ticktext = ['No', 'Yes'], row=2, col=1)
fig.update_xaxes(title_text="Weekday", tick0 = 0, dtick=2, row=2, col=2)


# Update yaxis properties
fig.update_yaxes(title_text="Weekly Sales", row=1, col=1)
fig.update_yaxes(title_text="Weekly Sales", row=2, col=1)

# Update title 
fig.update_layout(
    title= title, title_x = 0.5,
    showlegend=False
)

# Export to a png image
fig.to_image(format="png", engine="kaleido")
if os.path.exists("Viz/"+title+".png"):
    os.remove("Viz/"+title+".png")
    
fig.write_image("Viz/"+title+".png")

fig.show()

>🗒 Notes:   
>> The sales are decreasing over the years.

## Outliers  <a class="anchor" id="section27"></a>

In [18]:
columns = ['Weekly_Sales', 'Temperature', 'Fuel_Price', 'CPI' , 'Unemployment']
MyFunct.outliers_count(dataset, columns)

,count,mean,std,low_fence,high_fence,outliers,outliers_p,count_after_drop
Weekly_Sales,6571.0,1.051157e+06,566888.177750,-649507.044327,2.751822e+06,31.0,0.47,6540.0
Temperature,6567.0,6.067854e+01,18.442501,5.351040,1.160060e+02,1.0,0.02,6566.0
Fuel_Price,6571.0,3.357825e+00,0.459417,1.979573,4.736077e+00,0.0,0.00,6571.0
CPI,6573.0,1.717531e+02,39.391147,53.579633,2.899265e+02,0.0,0.00,6573.0
Unemployment,6570.0,7.990917e+00,1.870989,2.377950,1.360388e+01,223.0,3.39,6347.0

>🗒 Notes:   
>> There is no much outliers in the dataset.

## Correlation <a class="anchor" id="section28"></a>

In [19]:
title = 'Correlation degrees between different variables'
fig = MyFunct.my_heatmap(dataset, title)

# Export to a png image
fig.to_image(format="png", engine="kaleido")
if os.path.exists("Viz/"+title+".png"):
    os.remove("Viz/"+title+".png")

fig.write_image("Viz/"+title+".png")
fig.show()

## SUMMARY  <a class="anchor" id="section29"></a>

🗒 Note 1: the target variable🎯 has missing values, hence we should drop the related rows  
🗒 Note 2: drop duplicated rows   
🗒 Note 3: drop outliers   
❗ Investigate: Discontinuity in the CPI data ??  
🗒 Note 4: year and fuel_price are highly correlated (0.78)  
🗒 Note 5: Date, Day, Weekday are not relevant, we may drop them

In [20]:
selection_dict = {
  'Store': MyFunct.Status.SELECTED,
  'Date': MyFunct.Status.NOT_SELECTED,
  'Weekly_Sales': MyFunct.Status.SELECTED,
  'Holiday_Flag': MyFunct.Status.SELECTED,
  'Temperature': MyFunct.Status.SELECTED,
  'Fuel_Price': MyFunct.Status.SELECTED,
  'CPI': MyFunct.Status.SELECTED,  
  'Unemployment': MyFunct.Status.SELECTED,  
  'Year': MyFunct.Status.MAYBE,  
  'Month': MyFunct.Status.MAYBE,
  'Week': MyFunct.Status.SELECTED,
  'Day': MyFunct.Status.LATER,
  'Weekday': MyFunct.Status.NOT_SELECTED,
}
selection_df = pd.DataFrame.from_dict({k: v.value for k, v in selection_dict.items()},
                                      orient='index', columns=['status'])
selection_df

                    status
Store             selected
Date          not selected
Weekly_Sales      selected
Holiday_Flag      selected
Temperature       selected
Fuel_Price        selected
CPI               selected
Unemployment      selected
Year                 maybe
Month                maybe
Week              selected
Day                  later
Weekday       not selected

# Preprocessing  <a class="anchor" id="section3"></a>

In [21]:
prep_dataset = dataset.copy()
# drop observations where Weekly_Sales is missing 
prep_dataset = MyFunct.remove_missing(prep_dataset, 'Weekly_Sales')

# drop Unemployment outliers 
prep_dataset= MyFunct.remove_outlier(prep_dataset, 'Unemployment')

# drop duplicates
prep_dataset.drop_duplicates(inplace=True, ignore_index=True)

# drop columns ['Date', 'Day', 'Weekday', 'Month', 'Year']
cols_drop = ['Date', 'Day', 'Weekday', 'Month', 'Year']
prep_dataset = prep_dataset.drop(cols_drop, axis = 'columns')

In [22]:
title = 'Preprocessing Statistics'

labels = ['Retained','Removed']
values = [prep_dataset.shape[0], dataset.shape[0] - prep_dataset.shape[0]]

fig = go.Figure(data=[go.Pie(labels=labels, values=values, hole=.3)])

# Update title 
fig.update_layout(
    title= title, title_x = 0.5,
    showlegend=False
)

# Export to a png image
fig.to_image(format="png", engine="kaleido")
if os.path.exists("Viz/"+title+".png"):
    os.remove("Viz/"+title+".png")
    
fig.write_image("Viz/"+title+".png")

fig.show()

In [23]:
MyFunct.explore(prep_dataset)

Shape : (6297, 8)

data types :
Store           float64
Weekly_Sales    float64
Holiday_Flag    float64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
Week            float64
dtype: object

Display of dataset:

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Week
0,1.0,1643690.90,0.0,42.31,2.572,211.096358,8.106,5.0
1,1.0,1641957.44,1.0,38.51,2.548,211.242170,8.106,6.0
2,1.0,1611968.17,0.0,39.93,2.514,211.289143,8.106,7.0
3,1.0,1409727.59,0.0,46.63,2.561,211.319643,8.106,8.0
4,1.0,1554806.68,0.0,46.50,2.625,211.350143,8.106,9.0

Basics statistics:

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Week
count,6297.000000,6.297000e+03,6286.000000,6283.000000,6285.000000,6286.000000,6283.000000,6279.000000
mean,22.722566,1.055463e+06,0.069997,60.433589,3.359432,173.251996,7.780878,25.900621
std,13.069591,5.693211e+05,0.255162,18.487402,0.461103,39.150100,1.512723,14.125355
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000,1.000000
25%,11.000000,5.570752e+05,0.000000,46.970000,2.915000,132.586532,6.881000,14.000000
50%,22.000000,9.619933e+05,0.000000,62.590000,3.467000,188.274383,7.852000,26.000000
75%,34.000000,1.438383e+06,0.000000,74.830000,3.735000,213.206962,8.521000,38.000000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,13.503000,52.000000

Distinct values:

Store             45
Weekly_Sales    6216
Holiday_Flag       3
Temperature     3495
Fuel_Price       881
CPI             2158
Unemployment     358
Week              53
dtype: int64

In [24]:
#save preprocessed data
import csv
prep_dataset.to_csv("data/prep_walmart_sales.csv", quoting=csv.QUOTE_NONNUMERIC)
print('saved')

saved

# Notes for Further Investigation

********************   Information to get from the variables 'Holiday_Flag' and 'Date' **********************

the four largest holidays in the US are: 
Super Bowl (first Sunday of February / second Sunday of February after changes to the format and schedule in 2021), 
Labor Day  (first Monday in September), 
Thanksgiving (fourth Thursday of November), and 
Christmas (25 december).   

The four holidays fall within the following dates in the dataset:

Super Bowl (holiday + 5): 12-02-2010, 10-02-2012,
Labor Day (holiday + 4) : 10-09-2010, 07-09-2012, 
Thanksgiving(holiday + 1) : 26-11-2010,
Christmas (next Friday): 31-12-2010, 30-12-2011

We can use the 'Holiday_flag' and 'Date' variables to decide if the week of the reported 'Weekly_Sales' is a before_holiday week, holiday week or after_holiday week

****************************** for a bigger Data Set *************************************
https://www.kaggle.com/bletchley/course-material-walmart-challenge